.banner-s1-text {
    color: #4a69bd;
}
.banner-s2-text {
    color: rgba(255, 255, 255, 0.884);
}
.banner-s3-text {
    color:azure;
}
.banner-s4-text {
    color:floralwhite; 
}
.buy-btn a {
    text-decoration: none;
    color:rgba(255, 255, 255, 0.945);
}
/* Card Custom Styels */
.card-button {
    background-color:lightgray;
}
         