.banner-s1-text {
    color:rgba(255, 255, 255, 0.884);
    background-color: rgba(3, 3, 87, 0.336);
}
.banner-s2-text {
    color: rgba(255, 255, 255, 0.884);
}
.banner-s3-text {
    color:azure;
}
.banner-s4-text {
    color:floralwhite; 
}
.buy-btn a {
    text-decoration: none;
    color:rgba(255, 255, 255, 0.945);
}
/* Card Custom Styels */
.card-button {
    background-color:lightgray;
}
.card-list, .card-list li {
    border: none;
    padding-right: 0.5rem 0.5rem; 
    background-color: skyblue;
}
.card-3-bg-color, .card-3-bg-color li {
background: #0575E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #021B79, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color:rgb(247, 247, 247);
}

/* Footer Styles */
.footer-styles {
    background-color: rgb(2, 2, 37);
    padding: 50px;
}